
.error{
    border:1px  solid red;
}
.success{
    border:1px  solid greenyellow;
}
.error-tip{
    color: red;
    background:pink;
}
ul{
    list-style: none;
}
.router-panel{
    height: 100%;
    background-color: aliceblue;
}
.home-panel{
    background-color:#00BCD4;
    color: white;
    height: 100%;
    width: 100%;
}
.about-panel{
    background-color:#FF5722;
    color: white;
    height: 100%;
    width: 100%;
}
.services-panel{
    background-color:#9C27B0;
    color: white;
    height: 100%;
    width: 100%;

}